.addition {
  position: relative;
  /*background-color: #fff;*/
  width: 144px;
  height: 84px;
  /* margin: 0px; */
  padding: 0px;
  border: 0px solid #ddd;
  display: table;
  margin: 0 auto;
}

.addition code {
  display: inline-block;
  position: absolute;
  font-size: 18px;
  vertical-align: text-bottom;
  line-height: 28px;
  width: 12px;
  color: #000;
  opacity: 1;
  text-align: center;
  background: transparent;
  padding: 0px;
}

/* .seq code {
    display: inline-block;
    font-size: 18px;
    vertical-align: text-bottom;
    line-height: 28px;
    width: 14px;
    color: #000;
    opacity: 0.3;
    text-align: center;
    background: transparent;
    padding: 0px;
  } */

.invisible {
  opacity: 0 !important;
}
