@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

.basic {
  font-family: "Source Code Pro", monospace;
  text-anchor: middle;
  fill: #888;
  font-size: 0.7em;
}

.small {
  font-family: "Source Code Pro", monospace;
  text-anchor: middle;
  font-size: 0.9em;
}
