.inlinecode code {
  display: inline !important;
  background-color: #fafafa;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  font-size: 0.97em;
}
