@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables

$family-monospace: "Source Code Pro", monospace;

// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables

// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

@import "../node_modules/bulma/bulma.sass";

// @import "../node_modules/highlight.js/styles/agate";
// @import "../node_modules/highlight.js/styles/hybrid";
// @import "../node_modules/highlight.js/styles/magula";
// @import "../node_modules/highlight.js/styles/monokai";
// @import "../node_modules/highlight.js/styles/obsidian";
// @import "../node_modules/highlight.js/styles/ocean";
@import "../node_modules/highlight.js/styles/tomorrow";
// @import "../node_modules/highlight.js/styles/zenburn";

// without the .css extension. See
// https://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file

// // Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/form.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";

pre {
  //   background: #2B3A42; // #fff;
  padding: 0px !important;
  margin: 0px;
  border: 2px solid #f0f0f0;
  border-radius: 10px;

  code {
    padding: 15px !important;
  }
}

.gloup {
  border: 0px solid #fff;
  border-radius: 6;
  padding: 10px;
  margin: 0px;
  .title {
    margin-bottom: 5px;
  }
  p {
    color: #7a7a7a;
    font-size: 1.25rem;
  }
}

.gloup:hover {
  background: #fafafa;
  p {
    color: #505050;
  }
}

code.inlinecode {
  display: inline !important;
  // background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 0.5px !important;
  padding-bottom: 1.5px !important;
  font-size: 0.95em;
}

table {
  font-variant-numeric: tabular-nums slashed-zero;
}
